<!DOCTYPE html>
<html>
  <%- include('partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <%- include('partials/footer') %>
</html>
