<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body class="body__login">
    <div class="container_register" id="contenedor_register">
        <div class="container_form text-light ">

            <h1 class="text-center">CafeScript</h1>
            <form action="/users/register" method="POST" id="form2">
                <h2 class="text-light text-center">Cre치 tu cuenta</h2>
              
                <div class="container_form--div">
                  
                    <input type="text" class="text-light" id="nombre" name="name" value="<%= locals.oldData ? oldData.name :null %>">
                    <span>Nombre</span>
                
                    <i></i>
                </div>
                <div class="container_form--div">
                   
                    <input type="text" id="apellido" class="text-light" name="apellido" value="<%= locals.oldData ? oldData.apellido :null %>">
                    <span>Apellido</span>
                    <i></i>
                </div>
                <div class="container_form--div">
                   
                    <input type="email" 
                    id="email" 
                    class="text-light" 
                    name="email" 
                    value="<%= locals.oldData ? oldData.email :null %>">
                    <span>Email</span>
                    
                    <i></i>
                   
                </div>
             
                <div class="container_form--div">
                    <input type="tel" id="tel" class="text-light" name="telefono"
                    value="<%= locals.oldData ? oldData.telefono :null %>"> 
                    <span>Telefono</span>
                    <i></i>
                </div>
                <div class="container_form--div">
                    <input type="password" id="pass" class="text-light" name="password" 
                    value="<%= locals.oldData ? oldData.password :null %> ">
                    <span>Contrase침a</span>
                    <i></i>
                </div>
                <div class="container_form--div">
                    <input type="password" id="confirmPass" class="text-light" name="confirmPass"
                    value="<%= locals.oldData ? oldData.confirmPass :null %>">
                    <span>Confirmar contrase침a</span>
                    <i></i>
                </div>
                <div class="container_form--link">
                    <a href="/users/olvidar">Olvide mi Contrase침a</a>
                    <a href="/users/login">Ingresar</a>
                </div>
                <button type="submit" value="Register">Register</button>
            </form>
        </div>
    </div>
    <div id="validador">
        <% if (locals.errors) { %>
           
            <% locals.errors.forEach(err=>{ %>
                <p class="alert alert-danger m-2"><%=err.msg%></p>
                <% })%>

        <% } %>
      
    </div>
    <!-- <script src="/js/register.js">

    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>